<section id="schedule">
   <h2><span class="fa-container"><span class="fa fa-calendar-o"></span></span> Schedule</h2>
   <p>Instead of slides, in-class examples are posted to GitHub. Readings are posted under the <b>Homework</b> column.</p>
   <h3>Important Dates</h3>
   <ul>
      <li><strong>12 February</strong>: No Class (Lincoln’s Birthday)</li>
      <li><strong>23 April</strong>: No Class (Spring Recess)</li>
      <li><strong>14 May</strong>: Final Lecture</li>
      <li><strong>21 May</strong>: Final Presentations</li>
      <li><strong>Class Thirteen</strong>: Collaborative project due</li>
      <li><strong>Class Twelve</strong>: <a href="https://github.com/code-warrior/midterm-project--spring-2019--web-programming" target="_blank" rel="noopener">Midterm project</a> due</li>
      <li><strong>Class Fourteen</strong>: Semester project due</li>
      <li><strong>Class Fifteen</strong>: Final project due</li>
   </ul>
   <table>
      <thead>
         <tr>
            <th>Week</th>
            <th>Topics</th>
            <th>Homework</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><b>One</b><br>(29 Jan 2019)</td>
            <td>
               <ul>
                  <li>Thorough breakdown of syllabus</li>
                  <li>Software installation</li>
                  <li>GitHub introduction</li>
                  <li>Command Line Interface, or <abbr title="Command Line Interface">CLI</abbr>, introduction</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/getting-familiar-with-the-github-desktop-client/" target="_blank" rel="noopener">Getting Familiar with the GitHub Desktop Client</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/creating-a-new-repo-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Creating a New Repo Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/creating-commits-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Creating Commits Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/working-with-branches-using-github-desktop-version-1.0.13/" target="_blank" rel="noopener">Working with Branches Using GitHub Desktop</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/git/github/forking-and-cloning-at-the-github-web-site/" target="_blank" rel="noopener">Forking and Cloning at the GitHub Web Site</a> (screencast)</li>
                  <li><a href="http://code-warrior.github.io/tutorials/the-terminal/" target="_blank" rel="noopener"><abbr title="Command Line Tutorial">CLI</abbr> tutorial</a> (reading)</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Two</b><br>(5 Feb 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-02" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>HTML refresher</li>
                  <li>CSS refresher</li>
                  <li>Automating web development tasks with Gulp</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Revisit the HTML tags discussed this week.</li>
                  <li>Revisit the CSS tags discussed this week.</li>
                  <li>Study and modify the Gulp tasks discussed and shared in class.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Three</b><br>(19 Feb 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-03" target="_blank" rel="noopener">This week’s repo</a></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Revisit your understanding of HTML and CSS.</li>
                  <li>Implement the HTML and CSS warm-up project.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Four</b><br>(26 Feb 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/html-css-warm-up" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Crit of this week’s HTML and CSS warm-up project</a></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Start familiarizing yourself with <a href="https://gulpjs.com/" target="_blank" rel="noopener">Gulp</a>.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Five</b><br>(5 Mar 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/gulp-tutorial" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Gulp</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Update the HTML/CSS warm-up project to use Gulp.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Six</b><br>(12 Mar 2019)</td>
            <td>
               <ul>
                  <li><a href="https://bitbucket.org/code-warrior/sass-workshop" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Sass</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Convert the CSS from the HTML/CSS warm-up project to Sass.</li>
                  <li>Create <code>dev</code> and <code>prod</code> work flows in Gulp, testing your work flow with the HTML/CSS warm-up project.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Seven</b><br>(19 Mar 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-07" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Core JavaScript</li>
                  <li>P5.js</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>Revisit the JavaScript syntax from this week’s repo.</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Eight</b><br>(26 Mar 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-08" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>More P5.js</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Nine</b><br>(2 Apr 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-09" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>Tone.js</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Ten</b><br>(9 Apr 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-10" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>More Tone.js</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Eleven</b><br>(16 Apr 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-11" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li><b>Midterm project due</b></li>
                  <li>jQuery</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Twelve</b><br>(30 Apr 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-12" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li>More jQuery</li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Thirteen</b><br>(7 May 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-13" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li><b>Collaborative project due</b></li>
               </ul>
            </td>
            <td>
               <ul>
                  <li><abbr title="To Be Announced">TBA</abbr></li>
               </ul>
            </td>
         </tr>
         <tr>
            <td><b>Fourteen</b><br>(14 May 2019)</td>
            <td>
               <ul>
                  <li><a href="https://github.com/code-warrior/medp-341--week-14" target="_blank" rel="noopener">This week’s repo</a></li>
                  <li><b>Semester project due</b></li>
               </ul>
            </td>
            <td>Complete final project</td>
         </tr>
         <tr>
            <td><b>Fifteen</b><br>(21 May 2019)</td>
            <td>
               <ul>
                  <li><b>Final project presentations</b></li>
               </ul>
            </td>
            <td>Happy summer!</td>
         </tr>
      </tbody>
   </table>
</section>
